<!doctype html>
<html lang="en" ng-app="nonoshiri">
<head>
  <meta charset="utf-8">
  <title>Nonoshiri</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/lib/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="../static/css/nonoshiri.css"/>
</head>
<body>

  {% block content %}
  {% endblock %}

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="../static/js/lib/jquery-1.10.2.min.js"></script>
  <script src="../static/js/lib/bootstrap.min.js"></script>
  <script src="../static/js/lib/angular.min.js"></script>
  <script src="../static/js/app.js"></script>
  <script src="../static/js/services.js"></script>
  <script src="../static/js/controllers.js"></script>
  <script src="../static/js/filters.js"></script>
  <script src="../static/js/directives.js"></script>
</body>
</html>
