{% extends "header.html" %}

{% block content %}

{# to escape for angular #}
{# can also use {{ '{{' }} for small sections #}

{# {{ status.user.name }} #}

{% raw %}
<div ng-controller="StatusQueryCtrl">
<div ng-repeat="status in statuses">
    <div ng-repeat="i in status">
    <p><strong>{{ i.name }}</strong>: {{ i.text }}</p>
</div>
</div>
{{ status_all }}
</div>

{% endraw %}



{#

{% for status in statuses %}
    <p><strong>{{ status['user']['name'] }}</strong></p>
    <p>{{ status['text'] }}</p>
    <hr>
{% endfor %}

#}
{% endblock %}